/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #131313; }

.text-center {
  text-align: center; }

.home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  min-height: 300px; }
  .home_bg {
    flex: 9;
    display: flex;
    background: url(../img/Background.png) no-repeat;
    background-size: cover;
    min-height: 500px; }
    .home_bg-about {
      justify-content: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .home_bg-about-logo {
        text-align: center;
        padding-bottom: 50px; }
      .home_bg-about-logo img {
        height: 92px;
        max-width: 292px; }
      .home_bg-about-text1 {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        max-width: 582px;
        padding-bottom: 30px;
        color: #FFFFFF; }
      .home_bg-about-text2 {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 234px;
        color: #FFFFFF; }
      .home_bg-about-numbers {
        display: flex;
        justify-content: center; }
        .home_bg-about-numbers-num {
          padding: 25px; }
          .home_bg-about-numbers-num-title {
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            color: rgba(255, 255, 255, 0.8); }
          .home_bg-about-numbers-num-subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.8); }
    .home_bg-img {
      display: flex;
      align-items: center; }
      .home_bg-img img {
        max-width: 900px;
        height: 500px; }
    .home_bg-wrapper {
      flex: 1;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .home_bg-wrapper::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        filter: blur(10px);
        z-index: 1; }
      .home_bg-wrapper-site {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        border-left: rgba(255, 255, 255, 0.2) solid 2px;
        color: #FFFFFF; }
        .home_bg-wrapper-site img {
          max-width: 200px;
          margin: 0 auto;
          padding-bottom: 45px; }
        .home_bg-wrapper-site .h2 {
          padding-bottom: 45px;
          font-style: normal;
          font-weight: bold;
          text-align: center;
          font-size: 24px;
          line-height: 26px; }
        .home_bg-wrapper-site .p {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 40px;
          padding-left: 50px; }
        .home_bg-wrapper-site a {
          padding-top: 60px;
          text-decoration: none;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 15px;
          padding-left: 50px;
          color: rgba(204, 160, 118, 0.8); }
        .home_bg-wrapper-site .h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 30px;
          padding-left: 50px;
          color: #CCA076;
          padding-top: 20px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .home_bg_mobile {
      display: flex;
      justify-content: space-around; }
      .home_bg_mobile-content {
        flex: 9;
        justify-content: center;
        display: flex;
        flex-direction: column; }
        .home_bg_mobile-content-title {
          position: relative;
          font-style: normal;
          font-weight: bold;
          font-size: 29px;
          line-height: 44px;
          text-align: left;
          color: rgba(255, 255, 255, 0.8); }
        .home_bg_mobile-content-title::before {
          z-index: -1;
          left: 35px;
          right: 0;
          top: 30px;
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 22px;
          background: #B58F69; }
        .home_bg_mobile-content-text {
          padding-bottom: 30px;
          padding-top: 20px;
          max-width: 675px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          text-align: justify;
          color: #FFFFFF; }
        .home_bg_mobile-content-price {
          display: flex;
          justify-content: space-around; }
          .home_bg_mobile-content-price-easy {
            flex: 3; }
            .home_bg_mobile-content-price-easy-title {
              font-style: normal;
              font-weight: bold;
              font-size: 36px;
              line-height: 44px;
              text-align: center;
              color: rgba(255, 255, 255, 0.8); }
            .home_bg_mobile-content-price-easy-text {
              margin: 10px;
              border: 1px solid rgba(54, 54, 54, 0.58);
              background: rgba(54, 54, 54, 0.58);
              max-width: 233px;
              min-height: 200px;
              padding-top: 20px;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 160%;
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              color: #FFFFFF; }
            .home_bg_mobile-content-price-easy-text h2 {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 160%;
              align-items: center;
              color: #B58F69; }
      .home_bg_mobile-image {
        flex: 3;
        display: flex;
        justify-content: center; }
        .home_bg_mobile-image img {
          display: block;
          max-width: 300px;
          object-fit: contain; }
  .home_left {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: rgba(18, 18, 19, 0.5); }
    .home_left-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 20px; }
      .home_left-info-number {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF; }
    .home_left-menu {
      flex: 3;
      justify-content: center;
      display: flex;
      flex-direction: column; }
      .home_left-menu-div a {
        padding-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        text-decoration: none;
        transition: .3s all ease-out;
        color: #ffffff; }
      .home_left-menu-div a:hover {
        color: #CCA076;
        padding-left: 30px; }
  .home_center {
    flex: 7;
    display: flex;
    background: rgba(18, 18, 19, 0.5);
    flex-direction: column;
    justify-content: center;
    border-left: 2px rgba(255, 255, 255, 0.2) solid;
    padding-left: 40px;
    border-right: 2px rgba(255, 255, 255, 0.2) solid; }
    .home_center-title {
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 100px;
      color: rgba(255, 255, 255, 0.8); }
    .home_center-subtitle {
      padding-top: 7px;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.8); }
    .home_center-about {
      padding-top: 90px; }
    .home_center-about a {
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.8); }
  .home_right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 19, 0.5); }
    .home_right > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .home_right > div:not(:first-child) {
        padding-top: 20px; }
    .home_right-title {
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center; }
    .home_right-subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center; }

@media (max-width: 1200px) {
  .home_left-info {
    flex-direction: column; }
  .home_center-title {
    font-size: 50px;
    line-height: 60px; }
  .home_right-title {
    font-size: 50px; }
  .home_bg_mobile-content-title {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px; }
  .home_bg_mobile-content-title::before {
    top: 14px;
    left: 20px; }
  .home_bg_mobile-content-text {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 140%; }
  .home_bg_mobile-content-price-easy-title {
    font-size: 20px;
    line-height: 44px; }
  .home_bg_mobile-content-price-easy-text {
    margin: 0 auto;
    max-width: 140px;
    padding-top: 10px;
    min-height: 100px;
    font-size: 10px;
    line-height: 160%; }
  .home_bg_mobile-content-price-easy h2 {
    font-size: 14px;
    line-height: 160%; } }

@media (max-width: 992px) {
  .home_left-info {
    flex-direction: column; }
    .home_left-info-number {
      padding-top: 10px; }
  .home_left-menu {
    padding-top: 0; }
  .home_center {
    flex: 6; }
    .home_center-title {
      font-size: 50px;
      line-height: 60px; }
    .home_center-subtitle {
      max-width: 300px;
      font-size: 13px;
      line-height: 15px; }
  .home-title {
    font-size: 42px;
    line-height: 58px; }
  .home-subtitle {
    max-width: 20px;
    font-size: 12px;
    line-height: 15px; }
  .home_bg_mobile-content-title::before {
    width: 75%; }
  .home_bg_mobile-content-text {
    max-width: 550px;
    padding-bottom: 50px; }
  .home_bg_mobile-image {
    display: none; }
  .home_right-subtitle {
    font-size: 10px; }
  .home_right-title {
    font-size: 40px; }
  .home_center-title {
    font-size: 40px;
    line-height: 50px; }
  .home_center-about {
    padding-top: 40px; }
  .home_left-menu-div a {
    font-size: 10px; }
  .home_left-info-logo img {
    width: 80px; } }

@media (max-width: 768px) {
  .home_left {
    display: none; }
  .home_right {
    display: none; }
  .home_bg_mobile {
    width: 100%;
    display: flex; }
    .home_bg_mobile-content-title {
      text-align: center;
      padding-bottom: 0; }
    .home_bg_mobile-content-title::before {
      left: 100px;
      top: 14px;
      height: 18px;
      width: 71%; }
    .home_bg_mobile-content-text {
      margin: 0 auto;
      justify-content: center;
      max-width: 400px;
      padding-bottom: 30px; } }

@media (max-width: 567px) {
  .home_bg-about-numbers {
    flex-direction: column;
    align-items: center; }
  .home_center-title {
    font-size: 30px;
    line-height: 40px; }
  .home_center {
    padding-left: 20px; }
  .home_center-about {
    padding-top: 20px; }
  .home_bg_mobile-content-title::before {
    width: 83%;
    left: 58px; } }

@media (max-width: 480px) {
  .home_bg-about-numbers {
    flex-direction: column;
    align-items: center; }
  .home_bg_mobile {
    flex-wrap: wrap; }
    .home_bg_mobile-content-title {
      font-size: 14px;
      padding-top: 10px; }
    .home_bg_mobile-content-title::before {
      top: 23px;
      left: 75px;
      width: 75%; }
    .home_bg_mobile-content-text {
      padding: 10px;
      font-size: 10px;
      padding-bottom: 20px; }
    .home_bg_mobile-content-price {
      flex-direction: column;
      padding-top: 90px;
      padding-bottom: 90px;
      background: url(../img/iphone.png) no-repeat center;
      background-size: contain; }
      .home_bg_mobile-content-price-easy-text {
        max-width: 160px; } }
