@import 'normalize.scss';

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

body{
    @include font-montserrat;
    background: #131313;
}
.text-center{
    text-align: center;
}
.home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;    
    min-height: 300px; 

    &_bg {
        flex:9;
        display: flex;
        background:  url(../img/Background.png) no-repeat;
        background-size: cover;
        min-height: 500px;
        &-about {
            justify-content: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            &-logo {
                text-align: center;
                padding-bottom: 50px;
            }
            &-logo img {
                height: 92px;
                max-width: 292px;
            }
            &-text1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 160%;
                justify-content: center;
                margin: 0 auto;
                display: flex;
                max-width: 582px;
                padding-bottom: 30px;

                color: #FFFFFF;
            }
            &-text2 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 160%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                max-width: 234px;

                color: #FFFFFF;
            }
            &-numbers {
                display: flex;
                justify-content: center;
                &-num {
                    padding: 25px;
                    &-title {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 72px;
                        line-height: 88px;

                        color: rgba(255, 255, 255, 0.8);
                    }
                    &-subtitle {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;

                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
        &-img {
            display: flex;
            align-items: center;
            & img {
                max-width: 900px;
                height: 500px;
            }
        }
        &-wrapper {
            flex: 1;
            display: flex;
            justify-content: space-between;
            position: relative;
            &::before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                filter: blur(10px);
                z-index: 1;
            }
            &-site {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 10;
                border-left: rgba(255, 255, 255, 0.2) solid 2px;
                color: #FFFFFF;
                & img {
                    max-width: 200px;
                    margin: 0 auto;
                    padding-bottom: 45px;
                }
                & .h2 {
                    padding-bottom: 45px;
                    font-style: normal;
                    font-weight: bold;
                    text-align: center;
                    font-size: 24px;
                    line-height: 26px;
                }
                & .p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 40px;
                    padding-left: 50px;
                }
                & a{
                    padding-top: 60px;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 15px;
                    padding-left: 50px;
                    color: rgba(204, 160, 118, 0.8);
                }
                & .h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 30px;
                    padding-left: 50px;
                    color: #CCA076;
                    padding-top: 20px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        &_mobile {
            display: flex;
            justify-content: space-around;
            &-content {
                flex: 9;
                justify-content: center;
                display: flex;
                flex-direction: column;
                &-title {
                    position: relative;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 29px;
                    line-height: 44px;
                    text-align: left;
                    
                    color: rgba(255, 255, 255, 0.8); 
                }
                &-title::before{
                    z-index: -1;
                    left: 35px;
                    right: 0;
                    top: 30px;
                    position: absolute;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 22px;
                    background: #B58F69;
                }
                &-text {
                    padding-bottom: 30px;
                    padding-top: 20px;
                    max-width: 675px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: justify;

                    color: #FFFFFF;
                }
                &-price {
                    display: flex;
                    justify-content: space-around;
                    &-easy {
                        flex: 3;
                        &-title {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 44px;
                            text-align: center;

                            color: rgba(255, 255, 255, 0.8);
                        }
                        &-text {
                            margin: 10px;
                            border: 1px solid rgba(54, 54, 54, 0.58);;
                            background: rgba(54, 54, 54, 0.58);
                            max-width: 233px;
                            min-height: 200px;
                            padding-top: 20px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 160%;
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            color: #FFFFFF;
                        }

                            &-text h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 160%;
                            align-items: center;

                            color: #B58F69;
                        
                        }
                        
                    }
                }
            }
            &-image {
                flex: 3;
                display: flex;
                justify-content: center;
                & img {
                    display: block;
                    max-width: 300px;
                    object-fit: contain;
                    // align-items: center;
                    // justify-content: center;
                }
            }
        }
    }
    &_left {
        flex: 3;
        display: flex;
        flex-direction: column;
        background: rgba(18, 18, 19, 0.5);        
        &-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 20px;
            &-number {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;

                color: #FFFFFF;
            }
        }
        &-menu {
            flex: 3;
            justify-content: center;
            display: flex;
            flex-direction: column;
        &-div a {
            padding-left: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 30px;
            text-decoration: none;
            transition: .3s all ease-out;
            color: #ffffff;
        }
        &-div a:hover {
            color: #CCA076;
            padding-left: 30px;
        }
    }
    }
    &_center {
        flex: 7;
        display: flex;
        background: rgba(18, 18, 19, 0.5);
        flex-direction: column;
        justify-content: center;
        border-left: 2px rgba(255, 255, 255, 0.2) solid;
        padding-left: 40px;
        border-right: 2px rgba(255, 255, 255, 0.2) solid;
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 100px;
            color: rgba(255, 255, 255, 0.8);
        }
        &-subtitle {
            padding-top: 7px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.8);
        }
        &-about {
            padding-top: 90px;
        }
        &-about a {
            
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;

            color: rgba(255, 255, 255, 0.8);
        }
    }
    &_right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(18, 18, 19, 0.5);
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:not(:first-child){
                padding-top: 20px;
            }        
        }
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            color: rgba(255, 255, 255, 0.8); 
            text-align: center;
        }
        &-subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
        }
        
    }
}

@media (max-width: 1200px) {
    .home_left-info{
        flex-direction: column;
    }
    .home_center-title{
        font-size: 50px;
        line-height: 60px;
    }
    .home_right-title{
        font-size: 50px;
    }
    .home_bg {
        &_mobile {
            &-content {
                &-title {
                    padding-bottom: 15px;
                    font-size: 20px;
                    line-height: 25px;
                }
                &-title::before {
                    top: 14px;
                    left: 20px;
                }
                &-text {
                    padding-bottom: 10px;
                    font-size: 12px;
                    line-height: 140%;
                }
            &-price {
                &-easy {
                    &-title {
                        font-size: 20px;
                        line-height: 44px;
                    }
                    &-text {
                        margin: 0 auto;
                        max-width: 140px;
                        padding-top: 10px;
                        min-height: 100px;
                        font-size: 10px;
                        line-height: 160%;
                    }
                    & h2 {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
            }
            }

        }
    }
}

@media (max-width: 992px) {
    .home {
        &_left {
            &-info {
                flex-direction: column;
                &-number {
                    padding-top: 10px;
                }
            }
            &-menu {
                padding-top: 0;
            }
        }
        &_center {
            flex: 6;
            &-title {
                font-size: 50px;
                line-height: 60px;
            }
            &-subtitle {
                max-width: 300px;
                font-size: 13px;
                line-height: 15px;
            }
        }
            &-title {
                font-size: 42px;
                line-height: 58px;
            }
            &-subtitle {
                max-width: 20px;
                font-size: 12px;
                line-height: 15px;
            }
            &_bg {
                &_mobile {
                    &-content {
                        &-title::before {
                            width: 75%;
                        }
                        &-text {
                            max-width: 550px;
                            padding-bottom: 50px;
                        }
                    }
                    &-image {
                        display: none;
                    }
                }
            }
        }
        .home_right-subtitle{
            font-size: 10px;
        }
        .home_right-title{
            font-size: 40px;
        }
        .home_center-title{
            font-size: 40px;
            line-height: 50px;
        }
        .home_center-about{
            padding-top: 40px;
        }
        .home_left-menu-div{
            a{
                font-size: 10px;
            }
        }
        .home_left-info-logo{
            img{
                width: 80px;
            }
        }
    }

@media (max-width: 768px){
    .home_left {
        display: none;
    }
    .home_right {
        display: none;
    }
    .home_bg {
        &_mobile {
            width: 100%;
            display: flex;
            &-content {
                &-title {
                    text-align: center;
                    padding-bottom: 0;
                }
                &-title::before {
                    left: 100px;
                    top: 14px;
                    height: 18px;
                    width: 71%;
                }
                &-text {
                    margin: 0 auto;
                    justify-content: center;
                    max-width: 400px;
                    padding-bottom: 30px;
                }

            }
        }
    }

}


@media (max-width: 567px){
    .home_bg-about-numbers {
        flex-direction: column;
        align-items: center;
    }
    .home_center-title {
        font-size: 30px;
        line-height: 40px;
    }
    .home_center {
        padding-left: 20px;
    }
    .home_center-about {
        padding-top: 20px;
    }
    .home_bg_mobile-content-title::before {
        width: 83%;
        left: 58px;
    }
}

@media (max-width: 480px) {
    .home_bg-about-numbers {
        flex-direction: column;
        align-items: center;
    }
    .home_bg_mobile {
        flex-wrap: wrap;
        &-content {
            &-title {
                font-size: 14px;
                padding-top: 10px;
            }
            &-title::before {
                top: 23px;
                left: 75px;
                width: 75%;
            }
            &-text {
                padding: 10px;
                font-size: 10px;
                padding-bottom: 20px;
            }
            &-price {
                flex-direction: column;
                padding-top: 90px;
                padding-bottom: 90px;
                background: url(../img/iphone.png) no-repeat center;
                background-size:  contain;
                &-easy-text {
                    max-width: 160px;
                }
            }
        }
    }
}